* { box-sizing: border-box; }
html, body {  padding: 0; 
}
.btn {
  display: inline-block;
  padding: 10 5px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  width:80px;
  font-size: 15px;
  font-weight:600;
  text-align: center;
  background: white;
  color:crimson;
  border: 1px solid silver;
  height: 37px;
  line-height: 37px;
  vertical-align: top;
}
footer{
  margin-top:10%;
}
.logoutBtn{
  display: inline-block;
  padding: 10 5px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  width:80px;
  font-size: 15px;
  font-weight:600;
  text-align: center;
  background: white;
  color:crimson;
  border: 1px solid silver;
  height: 37px;
  line-height: 37px;
  vertical-align: top;
  margin-left:80px;
}
header{
  margin-top: 20px;
  margin-bottom:50px;
}
.uploadBtn{
  display: inline-block;
  padding: 10 5px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  width:80px;
  margin-right: 10px;
  margin-left:10px;
  background: white;
  border: 1px solid silver;
  color: crimson;
  height: 37px;
  line-height: 37px;
  vertical-align: top;
  font-size: 12px;
}
.logo{
  width: 384px;
  height: auto;
  margin-left: 50px;
}
#loginForm{
  background-color: #BACDE9;
}
#loginBtn{
  background-color: skyblue;
  color:gray;
}
/* 문서 생성 버튼 */
.genereteBtn {
  font-family: 'nanumgothic', sans-serif;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
  background: white;
  border: 1px solid silver;
  color: crimson;
  width:100%;
  height: 37px;
  line-height: 37px;
  vertical-align: top;
  font-size: 18px;
}

input[type='text'], input[type='email'], input[type='password'], textarea {
  border-radius: 4px;
  height: 37px;
  padding: 10px;
  border: 1px solid silver;
}
.container { width: 100%; height: 100vh; display:flex;}
@media screen and (min-width: 800px) {
  .container { width: 100%; }
}
.input-group { margin-bottom: 15px; }
.input-group label { width: 25%; display: inline-block; }
.input-group input { width: 70%; }
.half { float: left; width: 50%; margin: 10px 0; }
#join { float: right; }
.profile-wrap {
  margin-left:25%;
  margin-right:5%;
  height:280px;
  display: inline-block;
}
@media screen and (min-width: 800px) {
  .profile-wrap { width: 290px; margin-bottom: 0; }
}
.profile {
  text-align: left;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid silver;
  background: #BACDE9;
}
.user-name { font-weight: bold; font-size: 18px; }
.count { font-weight: bold; color: crimson; font-size: 18px; }
.timeline {
  margin-top: 10px;
  width:500px;
  display: inline-block;
  border-radius: 4px;
  vertical-align: top;
}
#twit-form {
  border-bottom: 1px solid silver;
  padding: 10px;
  background: #BACDE9;
  color:lightcoral;
  overflow: hidden;
}
#img-preview { max-width: 100%; }
#img-label {
  float: left;
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
  padding: 0 10px;
  color: crimson;
  font-weight: 600;
  font-size: 13px;
  height: 37px;
  line-height: 37px;
}
#img { display: none; }
#twit { width: 100%; min-height: 72px; }
#twit-btn {
  float: right;
  cursor:pointer;
  width:80px;
  color: crimson;
  border-radius: 5px;
  font-weight: 600;
  font-size: 13px;
  background: whtie;
  border: none;
}
.header{
  display:flex;
}
.header-name{
  font-size:72px;
  font-weight:500;
  margin-top:30px;
  color:gray;
  font-family: Georgia, serif;
  text-align: center;
}
.twit {
  border: 1px solid silver;
  border-radius: 4px;
  padding: 10px;
  position: relative;
  margin-bottom: 10px;
}
.twit-author { display: inline-block; font-weight: bold; margin-right: 10px; }
.twit-follow {
  padding: 1px 5px;
  background: #fff;
  border: 1px solid silver;
  border-radius: 5px;
  color: #002870;
  font-size: 12px;
  cursor: pointer;
}

/*언팔로우*/
.twit-unfollow {
  padding: 1px 5px;
  background: #fff;
  border: 1px solid silver;
  border-radius: 5px;
  color: crimson;
  font-size: 12px;
  cursor: pointer;
}

.twit-img { text-align: center; }
.twit-img img { max-width: 75%; }
.error-message { color: red; font-weight: bold; }
#search-form { text-align: right; }
#join-form { padding: 10px; text-align: center; }
#hashtag-form { 
  text-align: right;
  margin-top:10px; 
  margin-bottom:10px;
}
.tumbsBox{
  margin-left:90%;
}
.tumbsIcon{
  margin-left:20px;
  cursor:pointer;
  align-items: left;
  margin-top:10px;
  width:20px;
  height:20px;
}
footer { text-align: center; }


/* hr 라인 스타일 */
.lineStyle {
  background: #002870;
  border: 0;
  height: 3px;
}


/*삭제 버튼 css*/
.twit-delete {
  display: inline-block;
  padding: 10 5px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 15px;
  width:50px;
  margin-right: 10px;
  margin-top: 10px;
  background: white;
  border: 1px solid silver;
  color: crimson;
  height: 37px;
  line-height: 37px;
  vertical-align: top;
  font-size: 12px;
}

/*닉네임 변경 버튼*/
.Nickname {
  display: inline-block;
  padding: 10 5px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 15px;
  width:50px;
  margin-right: 10px;
  background: white;
  border: 1px solid silver;
  color: crimson;
  height: 37px;
  line-height: 37px;
  vertical-align: top;
  font-size: 12px;
}

/*팔로잉 취소 버튼*/
.followDel {
  display: inline-block;
  padding: 10 5px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 15px;
  width:60px;
  margin-right: 30px;
  background: white;
  border: 1px solid silver;
  color: crimson;
  height: 27px;
  line-height: 27px;
  vertical-align: top;
  font-size: 8px;
}