{% extends 'layout.html' %}

{% block content %}
    <div class="timeline" >
      {% if user %}
        <div>
          <form id="twit-form" action="/post" method="post" enctype="multipart/form-data">
            <div class="input-group">
              <textarea id="twit" name="content" maxlength="140" placeholder="글을 입력해주세요"></textarea>
            </div>
            <div class="img-preview">
              <img id="img-preview" src="" style="display: none;" width="250" alt="미리보기">
              <input id="img-url" type="hidden" name="url">
            </div>
            <div>
              <label id="img-label" for="img">파일 업로드</label>
              <input id="img" type="file" accept="*">
              <button id="twit-btn" type="submit" class="btn">업로드</button>
            </div>
          </form>
        </div>
      {% endif %}
      <div class="twits" >
        <form id="hashtag-form" action="/hashtag">
          <input type="text" name="hashtag" placeholder="태그 검색">
          <button class="uploadBtn">검색</button>
        </form>
        {% for twit in twits %}
          <div class="twit" >
            
            <input type="hidden" value="{{twit.User.id}}" class="twit-user-id">
            <input type="hidden" value="{{twit.id}}" class="twit-id">
            
            <div class="twit-author">{{twit.User.nick}}</div>
            {% if not followerIdList.includes(twit.User.id) and twit.User.id !== user.id %}
            <button class="twit-follow">팔로우하기</button>
            {% endif %}

            <!--친구 끊기-->
            {% if followerIdList.includes(twit.User.id) and twit.User.id !== user.id %}
            <button class="twit-unfollow">친구 끊기</button>
            {% endif %}

            {% if user%}
            <img class="tumbsIcon" src="/img/thumbs_up_icon.png" alt="따봉 아이콘"/>
            <div id="changeTextDiv"></div>
            {% endif %}
            <div>
            <div class="twit-content">{{twit.content}}</div>
            
           
          </div>
            {% if twit.img.charAt(twit.img.length-1) == 'g' %}
              <div class="twit-img"><img src="{{twit.img}}" alt="섬네일"></div>
            {% elif twit.img.charAt(twit.img.length-1) == 'f' %}   
               <div>
                <iframe style="width: 200px; height: 280px;" src="{{twit.img}}"></iframe>
               </div>
            {% endif %}
            
            <!--유저 체크-->
            {% if twit.User.id == user.id %} 
              <button class="twit-delete btn">삭제</button>

              <!-- <a id="content-edit" class="twit-edit-btn">수정</a> -->
              <button class="twit-edit btn">수정</button>
            {% endif %}
            <!-- 삭제 if -->
          </div>
          
        {% endfor %}
      </div>

    </div>
{% endblock %}

{% block script %}
  <script>
    if (document.getElementById('img')) {
      document.getElementById('img').addEventListener('change', function(e) {
        const formData = new FormData();
        console.log(this, this.files);
        formData.append('img', this.files[0]);
        axios.post('/post/img', formData)
          .then((res) => {
            document.getElementById('img-url').value = res.data.url;
            document.getElementById('img-preview').src = res.data.url;
            document.getElementById('img-preview').style.display = 'inline';
          })
          .catch((err) => {
            console.error(err);
          });
      });
    }

     //모든 트윗 기록
     var twits = document.getElementsByClassName("twit")
    //누가 클릭했는지 정보
    var editBtns = document.getElementsByClassName("twit-edit btn")
    console.log("editBtns:",editBtns);
    var twitId
    var idx;
    for(let i=0;i<editBtns.length;i++){
      console.log(editBtns[i]);
      editBtns[i].addEventListener('click',()=>{
        console.log("come here")
        //트윗 아이디 찾기
        twitId =editBtns[i].parentNode.querySelector('.twit-id').value
        //twits의 twit-id와 수정버튼을 누른 twitId가 같다면
        for(let j =0;j<twits.length;j++){
          if(twits[j].children[1].value ===  twitId){
            idx=j
            //해당 인덱스의 트윗에 textarea와 완료버튼 생성
            twits[idx].children.changeTextDiv.innerHTML='<textarea id="changeTextArea"></textarea><button id="changeBtn">완료</button>'
            twits[idx].children.changeTextDiv.children.changeTextArea.value = twits[idx].children[5].innerText;
            //트윗 내용 가려지게
            twits[idx].children[5].hidden=true
            //기존 트윗의 내용이 들어가게 함
            
            //완료 버튼을 눌렀을 때 업데이트 해야함.
            twits[idx].children.changeTextDiv.children.changeBtn.addEventListener('click',()=>{
                //textarea내용 출력 이 내용을 서버단에서 업데이트 해줘야함
                //수정 쿼리
                var content=twits[idx].children.changeTextDiv.children.changeTextArea
                var value = content.value;
                content.value = '';
                // console.log(editBtns[i].parentNode.querySelector('.twit-user-id').value)
                // console.log(editBtns[i].parentNode.querySelector('.twit-id').value)
                // console.log(content.value)
                axios.post(`/post/${twitId}/edit`,{
                  EditContent:value
                })
                .then((response)=>{
                  location.reload();
                }).catch((err)=>{
                  console.error(err);
                });
             })
          }
        }
      })
    }
    document.querySelectorAll('.tumbsIcon').forEach(function(btn){
      const myId = document.querySelector('#my-id');
      var twitId = btn.parentNode.querySelector('.twit-id').value
      var userId = btn.parentNode.querySelector('.twit-user-id').value
      
      axios.post(`/user/check`,{UserId:`${userId}`,PostId:`${twitId}`})
        .then((res)=>{
          console.log(res.data)
          if(res.data){
            btn.setAttribute("src","/img/thumbs_up_fill_icon"+".png")
          }else{
            btn.setAttribute("src","/img/thumbs_up_icon"+".png")
          }
        })
        // .catch((err)=>{console.log(err)})
      btn.addEventListener('click',function(){
        var src = btn.getAttribute("src")
        if(src === "/img/thumbs_up_icon.png"){
          if(confirm('좋아요를 누르시겠습니까?')){
            if(myId!==userId){
              btn.setAttribute("src","/img/thumbs_up_fill_icon"+".png")
              axios.post(`/user/${twitId}/like`,{
                UserId:`${userId}`,
                PostId:`${twitId}`,
              })
              .then(()=>{
                location.reload();
              }).catch((err)=>{
                console.log(err);
              })
            }
          }
        }else{
          if(confirm('좋아요를 취소하시겠습니까?')){
            btn.setAttribute("src","/img/thumbs_up_icon"+".png")
            axios.post(`/user/${twitId}/delete`,{
                UserId:`${userId}`,
                PostId:`${twitId}`,
              })
              .then(()=>{
                location.reload();
              }).catch((err)=>{
                console.log(err);
              })
          }
      }
      })
    })
    // document.getElementsByClassName("twit-edit-btn").addEventListener('click',function(){
    //   console.log("click");
    // })
    document.querySelectorAll('.twit-follow').forEach(function(tag) {
      tag.addEventListener('click', function() {
        const myId = document.querySelector('#my-id');
        if (myId) {
          const userId = tag.parentNode.querySelector('.twit-user-id').value;
          if (userId !== myId.value) {
            if (confirm('팔로잉하시겠습니까?')) {
              axios.post(`/user/${userId}/follow`)
                .then(() => {
                  location.reload();
                })
                .catch((err) => {
                  console.error(err);
                });
            }
          }
        }
      });
    });

    //삭제 쿼리
    document.querySelectorAll('.twit-delete').forEach(function(tag){
      console.log(tag);
      tag.addEventListener('click', function(){
        const twitId = document.querySelector('.twit-id').value;
        axios.post(`/post/${twitId}/delete`)
          .then((res) => {
            location.reload();
          })
          .catch((err) => {
            console.error(err);
          })
      });
    });

    //수정 쿼리
    // document.querySelectorAll('.twit-edit').forEach(function(tag){
    //   console.log(tag);
    //   tag.addEventListener('click', function(){
    //     const twitId = document.querySelector('.twit-id').value;
    //   //const input = document.getElementById('twit');
    //   //const value = input.value;
    //   //input.value = '';
    //     axios.post(`/post/${twitId}/edit`,{
    //       //name:value
    //     })
    //       .then((res) => {
    //         location.reload();
    //       })
    //       .catch((err) => {
    //         console.error(err);
    //       })
    //   });
    // });
    
    //팔로잉 취소 쿼리
    document.querySelectorAll('.twit-unfollow').forEach(function (tag) {
        tag.addEventListener('click', function () {
            const myId = document.querySelector('#my-id');
            if (myId) {
                const userId = tag.parentNode.querySelector('.twit-user-id').value;
                if (userId !== myId.value) {
                    if (confirm('친구를 삭제하시겠습니까?')) {
                        axios.post(`/user/${userId}/unfollow`)
                            .then(() => {
                                location.reload();
                            })
                            .catch((err) => {
                                console.error(err);
                            });
                    }
                }
            }
        });
    });

  </script>
{% endblock %}
