<!DOCTYPE html>
<html>
<head>
  <script src="https://cdn.tiny.cloud/1/oh2vd02yfmqlqgaf212oowew3xi8l0919nr7nzyjev4ix9dq/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body>
    <h1 style="text-align:center;">문서 제작을 위한 최고의 서비스 한성 SDS</h1>
  <textarea>
 
  </textarea>
  <script>
    tinymce.init({
      language: 'ko_KR', // 메뉴 기능 한글화
      selector: 'textarea',
      plugins: 'a11ychecker advcode casechange export formatpainter image editimage linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tableofcontents tinycomments tinymcespellchecker',
      toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter image editimage pageembed permanentpen table tableofcontents',
      toolbar_mode: 'floating',
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Author name',
    });
  </script>
</body>
</html>