<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/main.css">
  <script src="https://cdn.tiny.cloud/1/oh2vd02yfmqlqgaf212oowew3xi8l0919nr7nzyjev4ix9dq/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
  <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
</head>
<body>
  <header>
    <div class="header">
      <a href="/">
      <img class="logo" style="float:center;" src="/img/hansungsds_logo.png" href="/" alt="로고"/>
    </a>
      <!--<div class="header-name">Hansugn SDS</div> -->
  </div>
  <hr class="lineStyle">
  </header>
   <!-- <h1 style="text-align:center;">문서 제작을 위한 최고의 서비스 한성 SDS</h1> -->
   <button class="twit-follow">
     <a href="#" style="text-decoration-line : none;" onclick='window.open("http://localhost:3000","chat","width=500, height=515", )'>채팅하기</a>
     </button>
    <textarea>
 
    </textarea>
  
  <script>
    tinymce.init({
      language: 'ko_KR', // 메뉴 기능 한글화
      selector: 'textarea',
      plugins: 'a11ychecker advcode casechange export formatpainter image editimage linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tableofcontents tinycomments tinymcespellchecker',
      toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter image editimage pageembed permanentpen table tableofcontents',
      toolbar_mode: 'floating',
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Author name',
    });
  </script>

</body>
</html>
